html, body {
  height: 100%;
}

#introSection {
  color: #900C3F;
  width: 100%;
  height: 100%;
  background-color: #DAF7A6;
}

#introSection h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
}

#introSection h3 {
  font-family: 'Raleway', sans-serif;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
}

#introSection body {
  height: 100%;
}

#projectSection {
  color: #581845;
  position: relative;
  width: 100%;
  background-color: #FFC300;
  display: flex;
  flex-direction: column;
}


#projectSection h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
}

#projectSection h3 {
  font-family: 'Raleway', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 10px;
}

#projects {
  background-color: #FFC300;
  padding-bottom: 2.5%;
}

.project {
  padding: 10px;
  float: left;
  width: 50%;
  height: 50%;
  margin: 0;
}

.project h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.project a {
  color: #581845;
}

.project h4 {
  font-family: 'Raleway', sans-serif;
}

#workSection {
  color: #DAF7A6;
  background-color: #FF5733;
  position: relative;
  display: flex;
  flex-direction: column;
}

#workSection h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
}

#workSection h3 {
  font-family: 'Raleway', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#workSection h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

#workExperience {
  padding-bottom: 2.5%;
}

#skills {
  padding-bottom: 2.5%;
}

.skillTable {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#links {
  text-align: center;
}

#linkTable li {
  color: #e9ccc7;
  display: inline;
  list-style-type: none;
  padding-right: 40px;
  font-family: "Asul", sans-serif;
  font-size: 20px;
  margin: 0;
}

#linkTable a:link {
  color: inherit;
  text-decoration: none;
}

#linkTable a:visited {
  color: inherit;
  text-decoration: none;
}

#linksSection {
  color: #FFC300;
  background-color: #C70039;
  margin: 0;
  padding-top: 25%;
  padding-bottom: 25%;
}

#linksSection h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 0;
}

.linkBox {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-left: 2%;
}

/* For the writings page */

#writingComingSoon {
  color: #FFC300;
  width: 100%;
  height: 100%;
  margin-left: 0;
  background-color: #900C3F;
}

#writingComingSoon h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
}

/* For the projects page */

#projectBody {
  color: #DAF7A6;
  background-color: #900C3F;
}

#projectPageIntro h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
}

#projectPageIntro h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 2%;
}

#projectPageTable {
  width:80%;
  margin-left: auto;
  margin-right: auto;

}

/* For the experimental page */
#experimentalIntro {
  color: #DAF7A6;
  width: 100%;
  height: 100%;
  background-color: #FF5733;
}

#experimentalIntro h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
}

#experimentalIntro h3 {
  font-family: 'Raleway', sans-serif;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
}

#experimentalButtons {
  padding-top: 3%;
  margin-left: 40%;
}

/* For the sudoku page */

#sudokuComingSoon {
  color: #FFC300;
  width: 100%;
  height: 100%;
  margin-left: 0;
  background-color: #900C3F;
}

#sudokuComingSoon h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
}
