html, body {
  height: 100%;
}

#introSection {
  color: #E7E090;
  width: 100%;
  height: 100%;
  background-color: #3C2C26;
}

#introSection h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
}

#introSection h3 {
  font-family: 'Raleway', sans-serif;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
}

#introSection body {
  height: 100%;
}

#projectSection {
  color: #9F9A52;
  position: relative;
  width: 100%;
  background-color: #4F5840;
  display: flex;
  flex-direction: column;
  padding-top: 7.5%;
}


#projectSection h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
}

#projectSection h3 {
  font-family: 'Raleway', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 10px;
}

#projects {
  background-color: #4F5840;
  padding-top: 5%;
  padding-bottom: 10%;
}

.carousel-item h3 {
  font-family: 'Roboto', sans-serif;
}

.carousel-item {
  text-align: center;
}

.carousel-item a {
  color: #9F9A52;
}

.carousel-item h4 {
  font-family: 'Raleway', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

#workSection {
  color: #E7E090;
  background-color: #7D7857;
  position: relative;
  display: flex;
  flex-direction: column;
}

#workSection h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
}

#workSection h3 {
  font-family: 'Raleway', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#workSection h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

#workExperience {
  padding-bottom: 2.5%;
}

#skills {
  padding-bottom: 2.5%;
}

#skillTable {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: #E7E090;
}

#langTable {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: #E7E090;
}

#links {
  text-align: center;
}

#linkTable li {
  color: #e9ccc7;
  display: inline;
  list-style-type: none;
  padding-right: 40px;
  font-family: "Asul", sans-serif;
  font-size: 20px;
  margin: 0;
}

#linkTable a:link {
  color: inherit;
  text-decoration: none;
}

#linkTable a:visited {
  color: inherit;
  text-decoration: none;
}

#linksSection {
  color: #9F9A52;
  background-color: #4F5840;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 25%;
  padding-bottom: 25%;
}

#linksSection h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 0;
}

.linkBox {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-left: 2%;
}

/* For the projects page */

#projectBody {
  color: #9F9A52;
  background-color: #4F5840;
}

#projectPageIntro h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
}

#projectPageIntro h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 2%;
}

#projectPageTable {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

#projectsTable {
  color: #9F9A52;
}

#projectsTable a {
  color: #9F9A52;
}

/* For the experimental page */
#experimentalIntro {
  color: #9F9A52;
  width: 100%;
  height: 100%;
  background-color: #7D7857;
}

#experimentalIntro h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
}

#experimentalIntro h3 {
  font-family: 'Raleway', sans-serif;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
}

#experimentalButtons {
  padding-top: 3%;
  margin-left: 40%;
}

/* For the sudoku page */

#sudokuComingSoon {
  color: #9F9A52;
  background-color: #4F5840;
  width: 100%;
  height: 100%;
  margin-left: 0;
}

#sudokuComingSoon h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 3%;
}
