.main-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.title-text {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.floppy {
  filter: invert(85%) sepia(24%) saturate(208%) hue-rotate(335deg) brightness(110%) contrast(98%);
}


.section-header-text {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.education-upper-row {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
}

.education-lower-row {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
}

body {
    padding-top:5rem;
    background-color: #FDF4E3;
    padding-left: 1rem;
    padding-right: 1rem;
}

p {
    text-align: justify;
}

.skillset-bar {
    background-color: #721422;
}

.navigation-bar {
    background-color: #721422;
}

.navbar-text {
    color:#D5C7BC;
}

.navbar-text:hover {
    color:#D5C7BC;
}

.navbar-dropdown {
  background-color: #D5C7BC;
}

.navbar-dropdown-link:hover {
  background-color: #FDF4E3;
}

.skill-header-row {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 1rem;
}

.skill-text {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color:#705335;
}

.section-line {
    background-color: #705335;
    border-radius: 2px;
    height: 4px;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.company-text {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
  color: #721422;
}

.job-text {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
  color: #705335;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.roles-text {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
  color: #705335;
}

.skills-used-header-text {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-size: 14px;
  color: #705335;
}

.skills-used-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 18px;
  color:#721422;
  padding-bottom: 1rem;
}

@media screen and (min-width: 1200px) {
  .about-section-text {
    padding-left: 20%;
    padding-right: 20%;
  }

  .experience-table {
    padding-left: 10%;
    padding-right: 10%;
  }
}
